/*<group=interface>*/

#back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 90px;
	display: none;
	background-repeat: no-repeat;
	background-image: url(../images/behind.png);
}

#front {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
}

/*<group=init>*/

#ini {
	position:absolute;
	top: 19px;
	left: 19px;
}

label[for="selectInterval"] {
	font-size:8pt;
	margin:0px 5px 0px 0px;
	position:absolute;
	top:8px;
	left:110px;
	width:100px;
	height:20px;
}

select#selectInterval {
	position:absolute;
	top:3px;
	left:140px;
}

#doneButton {
	position: absolute;
	top: 3px;
	left: 220px;
	width:100px;
/*	width:54px;
	height:24px;
	text-indent:-999px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-image:url(../donebutton.png);
	background-position:center center;*/
}
	
/*</group>*/	
	
/*</group>*/

/*<group=tags>*/

* {
	font-family: Arial,"ヒラギノ 角ゴ";
	color: #fff;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ccc;
}

body {
	padding: 0px;
	margin: 0px;
}

/*</group>*/

/*<group=front>*/

#status {
	color: #666;
	font-size: 7pt;
	position: absolute;
	top: 45px;
	left: 4px;
	width: 290px;
	text-align: right;
}

#song {
	font-weight: bold;
	font-size: 9pt;
	margin: 2px auto 0px auto;
	padding:5px 50px;
	width: 200px;
}

#artist {
	font-size: 7pt;
	font-weight: 100;
	width: 200px;
	padding:0px 50px;
	margin: 0px auto;
}

#noa {
	position: relative;
	top: 0px;
	left: 0px;
	padding:12px 10px 0px auto;
	text-align: center;
	overflow: hidden;
	/*white-space: nowrap;*/
	background-repeat: no-repeat;
	background-image: url(../images/front1.png);
}


#bottom {
	clear:both;
	background-repeat: no-repeat;
	background-image: url(../images/front2.png);
	height:27px;
	position:relative;
}

/*</group>*/

/*<group=flip>*/

.flip {
	position:absolute;
	right: 22px;
	top: 0px;
	width: 13px;
	height: 13px;
}

.flip2 {
	position: absolute;
	right: 38px;
	top: 0px;
	width: 13px;
	height: 13px;
}

#flip {
	opacity: 0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index: 8000;
}

#fliprollie {
	display: none;
	opacity: 0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index: 7999;
}

#flip2 {
	opacity: 0;
	background: url(../images/rotate.png) no-repeat top left;
	z-index: 8001;
}

#fliprollie2 {
	display: none;
	opacity: 0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index: 7998;
}

/*</group>*/